period_selector_flow.json
[
    {
        "id": "fd3406994842fddb",
        "type": "switch",
        "z": "b3aec927eb87d004",
        "name": "",
        "property": "data.new_state.attributes.period",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "P1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "P2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "P3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 310,
        "y": 500,
        "wires": [
            [
                "d7e0daefcbf8f8ef"
            ],
            [
                "c2b2bbf000a72352"
            ],
            [
                "8c68f605edc7e4f3"
            ]
        ]
    },
    {
        "id": "d7e0daefcbf8f8ef",
        "type": "change",
        "z": "b3aec927eb87d004",
        "name": "P1",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "data",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.data.option",
                "pt": "msg",
                "to": "P1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 440,
        "wires": [
            [
                "7b6bab9b92d05ece"
            ]
        ]
    },
    {
        "id": "7b6bab9b92d05ece",
        "type": "api-call-service",
        "z": "b3aec927eb87d004",
        "name": "Select period",
        "server": "3bc2b2a8.30b416",
        "version": 5,
        "debugenabled": false,
        "domain": "select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "select.contador"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 670,
        "y": 500,
        "wires": [
            [
                "fcd37c42d924a3ab"
            ]
        ]
    },
    {
        "id": "c2b2bbf000a72352",
        "type": "change",
        "z": "b3aec927eb87d004",
        "name": "P2",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "data",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.data.option",
                "pt": "msg",
                "to": "P2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 500,
        "wires": [
            [
                "7b6bab9b92d05ece"
            ]
        ]
    },
    {
        "id": "8c68f605edc7e4f3",
        "type": "change",
        "z": "b3aec927eb87d004",
        "name": "P3",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "data",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.data.option",
                "pt": "msg",
                "to": "P3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 560,
        "wires": [
            [
                "7b6bab9b92d05ece"
            ]
        ]
    },
    {
        "id": "fcd37c42d924a3ab",
        "type": "debug",
        "z": "b3aec927eb87d004",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 500,
        "wires": []
    },
    {
        "id": "aa0d06b7a3d71389",
        "type": "server-state-changed",
        "z": "b3aec927eb87d004",
        "name": "PVPC Period",
        "server": "3bc2b2a8.30b416",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.pvpc",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 500,
        "wires": [
            [
                "fd3406994842fddb"
            ]
        ]
    },
    {
        "id": "3bc2b2a8.30b416",
        "type": "server",
        "name": "Hass",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]